@model PessoalResponse;
@{
    ViewData["Title"] = "Desativados";

	if (TempData["Message"] is not null)
	{
		<br>
		<h6 style="color:red">@TempData["Message"]</h6>
	}
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.ResponseObject)
        {
            <tr>
                <td width="10%">
                    @obj.Id
                </td>
                <td width="80%">
                    @obj.Name
                </td>
                <td width="10%">
                    <form method="Post" asp-controller="Pessoal" asp-action="Delete">
                        <input type="hidden" asp-for="ResponseObject[0].Id" value="@obj.Id">
                        <button type="submit" class="btn btn-danger">Deletar</button>
					    @*<a class="btn btn-danger mx-2" asp-controller="Pessoal" asp-action="ConfirmDelete" asp-route-id="@obj.Id">Apagar</a>*@
                    </form>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a class="btn btn-secondary" asp-controller="Pessoal" asp-action="Index">Voltar</a>