@model PessoalResponse;
@{
    ViewData["Title"] = "Index";
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Message
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td width="20%">
                    @Model.StatusCode
                </td>
                <td width="25%">
                @if (Model.ResponseMessage is not null)
                {
                    foreach (var obj in Model.ResponseMessage)
                    {
                    @obj;
                    <br>
                    }
                }
                </td>

             <td width="25%">                
                @if(Model.ResponseObject is not null){
                    foreach (var obj in Model.ResponseObject)
                    {  
                        <br>
						<p>----------------------</p>
                        @obj.Id;
                        <br>
                        @obj.Name;
                        <br>
                        @obj.Setor;
                        <br>
                        @obj.DataDeNacimento;
                        <br>
                        @obj.Idade;
                        <br>
                        @obj.Sexo;
                        <br>
						<p>----------------------</p>
                        <br>
                    }
                }
                </td>


			@*      <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-info mx-2" asp-controller="Home" asp-action="Detail" asp-route-id="*">Delathes</a>
                        <a class="btn btn-danger mx-2" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="*">Delete</a>
                        <a class="btn btn-warning mx-2" asp-controller="Home" asp-action="Editar" asp-route-id="*">Editar</a>
                        <a class="btn btn-dark mx-2" asp-controller="Home" asp-action="Desativar" asp-route-id="*">Desativar</a>
                    </div>
				</td>*@
            </tr>
    </tbody>

</table>